name: Deploy Supabase

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      SUPABASE_DB_PASSWORD: ${{ secrets.SUPABASE_PRODUCTION_DB_PASSWORD }}
      SUPABASE_PROJECT_ID: ${{ vars.SUPABASE_PROJECT_ID }}
      # TODO: Include secrets from GitHub secrets here that can be set as Supabase secrets
      #       To be used in Supabase functions and other services as environment variables.
      # OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      # ALLOWED_ORIGINS: "*"

    steps:
      - uses: actions/checkout@v3

      - uses: supabase/setup-cli@v1
        with:
          version: 2.26.9
      
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: Install dependencies
        run: pnpm install

      - name: Start Supabase local development setup
        run: supabase db start

      - name: Generate Supabase Types
        run: pnpm db:types

      - name: Verify generated types are checked in
        run: |
          if ! git diff --ignore-space-at-eol --exit-code --quiet src/lib/supabase-types.ts; then
            echo "Detected uncommitted changes after build. See status below:"
            git diff

            echo "Please commit the changes and try again."
            echo "The generated types must be committed to the repository."
            echo "Run 'pnpm db:types' locally and commit the changes before deploying."
          fi

      - name: Link Supabase
        run: supabase link --project-ref $SUPABASE_PROJECT_ID

      - name: Set Supabase secrets
        run: |
          ## TODO: Set Supabase secrets
          ## supabase secrets set OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}

      - name: Deploy Supabase Schema
        run: supabase db push

      - name: Deploy Supabase Functions
        run: supabase functions deploy --project-ref $SUPABASE_PROJECT_ID